@import "../../scss-utils.scss";

.weather-app__selected-view {
  padding-right: toRem(70);

  &-info {
    display: flex;
    justify-content: space-between;
  }

  &-hiLo-temp,
  &-weather {
    @include sm-grey-font;
  }

  &-temprature {
    color: $weather-app-white;
    font-size: $xl-font;
    font-family: $primary-font-bold;
  }
}
