@import "../../scss-utils.scss";

.#{$namespace}-selected-view {
  padding-right: toRem(70);

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__hiLo-temp,
  &__weather {
    @include sm-grey-font;
  }

  &__temprature {
    color: $weather-app-white;
    font-size: $xl-font;
    font-family: $primary-font-bold;
  }
}
