@import "../../scss-utils.scss";

.#{$namespace}-date-location {
  &__city {
    @include sm-grey-font;
    word-wrap: break-word;
  }

  &__day,
  &__date {
    font-family: $primary-font-bold;
    color: $weather-app-white;
    font-size: $lg-font;
    word-wrap: break-word;
  }
}
