@import "../../scss-utils.scss";

.weather-app__date-location {
  &-city {
    @include sm-grey-font;
    word-wrap: break-word;
  }

  &-day,
  &-date {
    font-family: $primary-font-bold;
    color: $weather-app-white;
    font-size: $lg-font;
    word-wrap: break-word;
  }
}
