@import "./scss-utils.scss";

body {
  margin: 0;
  font-family: $primary-font-regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Roboto-Bold";
  src: local("Roboto-Bold"), url(./fonts/Roboto-Bold.ttf) format("woff");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("Roboto-Regular"), url(./fonts/Roboto-Regular.ttf) format("woff");
}
